table{
   border-color: rgb(51, 171, 214);
   border-style:solid;
   border-width: 2px;
   box-shadow: 4px 5px 5px grey;
   box-sizing: border-box;
   table-layout:auto;
   font-size: 14px;
   font-style: inherit;
   text-align: left;
}
.first{
    background-color: rgb(202, 255, 202)
}    
.second{
    background-color: rgb(151, 202, 151)
}
#column{
    background-color: rgb(0, 54, 54);
    color: rgb(202, 255, 202);
    text-align: center;
}